<div class="user-master">
    <% @users.each do |user| %>
        <div class="user-container" >
            <img src="<%= user.photo %>">
            <div class="text-user">
                <%= link_to user.name, user_path(user.id),  class:"user-name" %>
                <p class="posts-users">Number of posts: <%= user.posts_counter.nil? ? 0 : user.posts_counter%>
            </div>
        </div>
    <% end %>
</div>
